# Pyton models
*.pyc

# PyTorch model
*.pt

# Tensorflow model
**model.savedmodel

# Xgboost model
**xgboost.json
models/**/*.json

# Hide private models
**privatemodelrepo

# Hide logs
*.log
docs/perf_analyzer/log/**

# Hide zipfiles
**.zip

# Hide symlink in models/repo
models/repo/*
node_modules
