# Pyton models
*.pyc

# PyTorch model
*.pt

# Tensorflow model
**model.savedmodel

# Xgboost model
**xgboost.json
models/ms2pip/**/*.json

# Hide private models
**privatemodelrepo

# Hide logs
**.log

# Hide zipfiles
**.zip

# Hide symlink in models/repo
models/repo/*
node_modules

# Ansible
*ansible.log
*.vault_password
*collections/
*geerlingguy*
