aiohttp==3.8.3
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
Brotli==1.0.9
certifi==2022.12.7
charset-normalizer==2.1.1
frozenlist==1.3.3
gevent==22.10.2
geventhttpclient==2.0.2
greenlet==2.0.1
grpcio==1.42.0
idna==3.4
multidict==6.0.4
numpy==1.24.1
protobuf==3.19.6
python-rapidjson==1.9
six==1.16.0
tritonclient==2.29.0
yarl==1.8.2
zope.event==4.6
zope.interface==5.5.2
