name: Run tests, styling and linting

on:
  pull_request:
    branches:
      - feature/generic_fragment_mz_model

jobs:

  test_style_lint:
    runs-on: [self-hosted,Linux,X64,gpu]
    permissions:
      contents: read
   
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Download models 
        run: ./getModels.sh

      - name: Build the docker-compose stack
        run: docker compose up -d

      - name: Run pytest
        run: docker compose exec develop pytest

      - name: Run black
        run: docker compose exec develop black .

      - name: Run lint
        run: docker compose exec develop lint

